OCOI_SERVER_URL=https://www.ocoi.org.il
PUSH_API_KEY=
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
CKAN_BASE_URL=https://www.odata.org.il
CKAN_QUERY=ניגוד עניינים
LOCAL_CACHE_DIR=./cache
BATCH_SIZE=10
